/****** CONTENU GLOBAL ******/
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: Roboto, serif;
}

span {
  color: #2e999c;
  font-weight: 700;
}

.btns {
  text-decoration: none;
  color: white !important;
  text-align: center;
  background-color: orange;
  width: 100%;
  padding: 15px;
  font-size: 15px;
}

body{ 
  font-size: 17px;
}

/****** HEADER NAV 1 *******/

header .nav1 i {
  color: black;
}

header .nav1 .logo {
  width: 50px;
}

header .nav1 a {
  text-decoration: none;
  color: black;
}

header .nav1 a img {
  width: 20px;
  margin-right: 8px;
}

.btn {
  border: solid 1px black;
  border-radius: 25px;
  width: 350px;
  text-align: left;
  height: 35px;
}

header .nav1 p {
  margin-left: 27px;
   margin-top: 5px;
  line-height: 5px;
  font-style: italic;
}

/****** HEADER NAV 2 *******/

header .nav2 {
  background-color: rgba(46, 152, 156, 0.1);
  padding: 8px;
}

header .nav2 a img {
  width: 20px;
  margin-right: 4px;
}

header .nav2 #entete2 a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.nav2 span {
  color: #2e999c;
  font-weight: 700;
}
.nav2 #entete3 a {
  text-decoration: none !important;
  color: black;
  margin-right: 0;
}

/******** FIN HEADER NAV 2 *******/

/******* HEADER NAV 3 *********/

.nav3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/chien_blanc.jpg);
  background-size: cover;
background-repeat: no-repeat;
  background-position: center;
 
}

.nav3 div {
  background-color: whitesmoke;
  width: 400px;
  height: 150px;
  padding: 25px 30px;
}

.nav3 a {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: orange;
  width: 400px;
  padding: 8px;
}

.nav3 a img {
  width: 30px;
  margin-right: 8px;
}

.nav3 article {
  margin: 150px 200px 200px 200px;
}

.nav3 span {
  color: #2e999c;
  font-weight: 700;
}
/******* FIN HEADER NAV 3 *********/

/****** SECTION PRESENTATION */

.coeurs,
.panda,
.decolle {
  text-align: center;
  width: 28%;
  margin-top: -80px;
  background-color: white;
  padding: 15px 15px;
}

#presentation ul img {
  width: 100%;
  margin: 20px 0;
}

#presentation ul a {
  text-decoration: none;
  color: orange;
  font-size: 15px;
}

#presentation ul .decolle img {
  height: 69%;
}

#presentation ul .coeurs img {
  width: 25%;
}

/********** SCROLL 5 DIVS *********/

.carroussel h2 {
  margin: 80px 0 50px 0;
  font-size: 40px;
}

.scroll1 {
  width: 200px;
}

.scroll1 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.scroll1 p {
  font-size: 13px;
}

.etoiles .fas,
.far {
  color: yellow;
  font-size: 15px;
}

/********** FOOTER *********/

footer {
  background:  #2e999c;
  color: black;
}

footer input[type="email"] {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #efefef;
}

footer input[type="email"]:focus {
  outline: none;
}

.foot{
  color: orange;
  font-size: 20px;
  font-weight: bold;
}

footer .fab {
  color:white;
  font-size: 25px;
  margin-right: 15px;
}

footer h3 {
  color:orange;
  font-size: 25px;
  font-weight: bold;
}


/****************** PAGE PRODUIT ****************/

main article:first-of-type ul li img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 2px #efefef solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

main article:first-of-type div img {
  width: 450px;
  height: 450px;
  object-fit: contain;
  border: 2px #efefef solid;
  border-radius: 10px;
}

main .buttons button {
  margin-right: 20px;
  width: 150px;
  color: orange;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

main .descriptif h2 {
  color: #498c8a;
  font-size: 30px;
  font-weight: bold;
}

main .descriptif h4 {
  font-size: 20px;
  font-weight: bold;
}

/****************** PAGE PAIEMENT PRODUIT ****************/  */
main #paiement ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

main #paiement ul li img {
  width: 60px;
  height: 40px;
  object-fit: contain;
  border: 2px solid #efefef;
  padding: 5px 10px;
  border-radius: 5px;
}

main #paiement .fas {
  margin-right: 10px;
  color: #498c8a;
}

/******************** PAGE PRODUIT "AVIS CLIENTS" *******************************/
.etoiles .fas,
.far {
  color: yellow;
  font-size: 15px;
}

main #avis_clients img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}



/**************************
* MEDIA QUERIES MOBILE
**************************/

/******************************
        RESPONSIVE
******************************/

@media (max-width: 767px) {
  /* Ce code permet d’indiquer que la barre centrale fera 30px de large sur 2px de hauteur. */
  #burger {
    width: 30px;
    height: 2px;
    background: black;
    display: inline-block;
    position: relative;
  }

  /* On utilise ses pseudo-éléments before et after pour créer les barres du haut et du bas. Nous avons donc là notre burger fermé. Quand nous cliquerons dessus, ce dernier prendra une classe .open. */
  #burger::before,
  #burger::after {
    content: "";
    width: 30px;
    height: 2px;
    background: black;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  #burger::before {
    top: -7px;
  }
  #burger::after {
    top: 7px;
  }

  #burger.open {
    background: transparent; /* la barre du milieu disparait */
  }
  /* celles du haut et du bas s'inclinent pour former une croix */
  #burger.open::before {
    transform: rotate(45deg);
    top: 0;
  }
  #burger.open::after {
    transform: rotate(-45deg);
    top: 0;
  }
}
