<div class="monAnalyse">
    <h2>Mr Capard, vos analyses</h2>
    <div class="monAnalyse1">
        <app-donnees-commerciales nom="Nombre de commandes" valeur="17"></app-donnees-commerciales>
        <app-donnees-commerciales nom="Nombre de paniers" valeur="22"></app-donnees-commerciales>
        <app-donnees-commerciales nom="Valeur moyen d'un panier" valeur="11,30€"></app-donnees-commerciales>
        <app-donnees-commerciales nom="Montant total des ventes" valeur="198,00"></app-donnees-commerciales>
        <app-donnees-commerciales nom="Nombres de nouveaux clients" valeur="2"></app-donnees-commerciales>
        <app-donnees-commerciales nom="% Paniers abandonnés" valeur="3%"></app-donnees-commerciales>
        <app-donnees-commerciales nom="% Conversion paniers" valeur="5%"></app-donnees-commerciales>
        <app-donnees-commerciales nom="% Conversion commandes" valeur="18%"></app-donnees-commerciales>
    </div>

</div>