<nav id="menu">
    <ul>
        <li><img src="assets/capard.jpg" alt="">M.Capard</li>
        <h3>Dashboard</h3>
        <li><a href="#">
                <fa-icon icon="angry"></fa-icon> Analyse
            </a></li>
        <li><a href="#">
                <fa-icon icon="angry"></fa-icon> Calendrier
            </a></li>
        <li>
            <a href="#">
                <fa-icon icon="angry"></fa-icon> Paiement
            </a>
        </li>
        <li><a href="#">
                <fa-icon icon="angry"></fa-icon> Email
            </a></li>
        <li><a href="#">
                <fa-icon icon="angry"></fa-icon> Utilisateur
            </a></li>
        <li><a href="#">
                <fa-icon icon="angry"></fa-icon> Paramètre
            </a></li>
    </ul>

</nav>