.mesAnalyses {
  display: flex;
}

.mesStats {
  width: 100%;
}

ul {
  list-style-type: none;
  background-color: blue;
  width: 200px;
  height: 100vh;
  border: solid 2px black;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul a {
  text-decoration: none;
}

ul,
p,
h4,
i,
a {
  color: white;
}

ul li,
h2,
h4 {
  margin-bottom: 35px;
}

ul img {
  width: 150px;
  margin-top: 40px;
}

fa-icon {
  font-size: 20px;
  margin-right: 10px;
}
