<body>

    <div class="container">

        <section class="sec-container">
            <div>
                <header>
                    <h2>Veuillez vous identifier</h2>
                </header>

                <form action="" method="post">

                    <input type="text" name="username" placeholder="Nom d'utilisateur" required="required" />
                    <input type="password" name="password" placeholder="Mot de passe" required="required" />
                    <button type="submit">Connexion</button>

                </form>
            </div>
        </section>

    </div>
</body>